<div ng-controller="app.views.tenants.create as vm">
    <form id="TenantCreateForm" role="form" name="TenantCreateForm" novalidate>
        <div class="form-group">
            <label for="TenantName" class="col-lg-2 control-label">@L("TenantName")</label>
            <input id="TenantName" type="text" ng-model="vm.tenant.name" class="form-control" placeholder="@L("TenantEnterNameHere")" required>
        </div>
        <div class="form-group">
            <label for="TenantIsActive" class="col-lg-2 control-label">@L("TenantIsActive")</label>
            <input type="checkbox" ng-model="vm.tenant.isActive" class="form-control" id="TenantIsActive" />
        </div>
        <button ng-click="vm.TenantCreate()" ng-disabled="TenantCreateForm.$invalid" type="submit" class="btn btn-primary">@L("TenantCreate")</button>
    </form>
</div>