<div ng-controller="app.views.tenants.update as vm">
    <form id="TenantUpdateForm" role="form" name="TenantUpdateForm" novalidate>
        <div class="form-group">
            <label for="TenantName" class="col-lg-2 control-label">@L("TenantName")</label>
            <input id="TenantName" type="text" ng-model="vm.tenant.name" class="form-control" placeholder="@L("TenantEnterNameHere")" required>
        </div>
        <div class="form-group">
            <label for="TenantIsActive" class="col-lg-2 control-label">@L("TenantIsActive")</label>
            <input type="checkbox" ng-model="vm.tenant.isActive" class="form-control" id="TenantIsActive" />
        </div>
        <input type="hidden" id="TenantId" ng-model="vm.tenant.id" />
        <button ng-click="vm.TenantUpdate()" ng-disabled="TenantUpdateForm.$invalid" type="submit" class="btn btn-primary">@L("TenantUpdate")</button>
    </form>
</div>